.test {
    .child {
        display: none;
    }

    opacity: .75;
    border-radius: 1px solid #FFF;
    padding: 10.0px;
    background: #000;
    font-size: 12px;
    float: left;
    position: relative;
}